<div class="navbar">
  <%= image_tag "cookbook-logo.jpg", class:"logo" %>
  <div class="btn-navbar">
    <%= link_to "Home", categories_path, class:"btn btn-info" %>
     <%= link_to "New Category", new_category_path, class:"btn btn-warning" %>
  </div>
</div>

 <%# <%= link_to "New Category", new_category_path, class:"btn btn-info" %>
